/* CSS file */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca',sans-serif;
    color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f172a;
    gap: 1rem;
}

section hr {
    width: 50%;
}

section .group-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 1rem;
}

section .group-1 p {
    text-align: center;
    font-weight: 300;
}

section .group-1 p span {
    font-weight: bold;
}

section .group-1 .row-1 {
    display: flex;
    width: 100%;
    gap: 1rem;
}

section .group-1 .row-1 .col-1,
section .group-1 .row-1 .col-2{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50%;
}

section .group-1 .row-2 .col-1 h1 {
    text-align: center;
}

section .group-1 .row-1 .col-1 textarea,
section .group-1 .row-1 .col-2 textarea, 
section .group-1 .row-2 .col-1 textarea {
    height: 5rem;
    resize: none;
    background-color: #334155;
    border: none;
    color: #fff;
    padding: 5px;
    font-size: 16px;
}

section .group-1 .row-1 .col-1 textarea:focus,
section .group-1 .row-1 .col-2 textarea:focus,
section .group-1 .row-2 .col-1 textarea:focus {
    outline: none;
    border: 1px solid #64748b;
}

section .group-1 .row-1 .col-1 select, 
section .group-1 .row-1 .col-2 select {
    width: 35%;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    background-color: #64748b;
    color: #fff;
    cursor: pointer;
}

section .group-1 .row-2 {
    display: flex;
    width: 100%;
    gap: 1rem;
}

section .group-1 .row-2 .col-1{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .5rem;
}

section .group-1 .row-2 .col-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .5rem;
}

section .group-1 .row-2 .col-2 h1 {
    text-align: center;
}

section .group-1 .row-2 .col-2 .btn {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    height: 100%;
    justify-content: center;
    gap: 1rem;
}

section .group-1 .row-2 .col-2 .btn button {
    width: 45%;
    height: 50%;
    cursor: pointer;
    background: #334155;
    color: #fff;
    border: 1px solid #64748b;
    padding: 7.5px;
    transition: .2s ease-in;
}

section .group-1 .row-2 .col-2 .btn button:hover {
    background: #64748b;
    border: 1px solid #334155;
    color: #fff;
}

/* C to F */
section .c-to-f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section .c-to-f .group-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

section .c-to-f .group-2 p {
    font-size: 12px;
}

section .c-to-f .group-2 h1 {
    text-align: center;
}

section .c-to-f .group-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: .5rem;
} 

section .c-to-f .group-3 .desc {
    text-align: center;
    width: 80%;
}

section .c-to-f .group-3 .desc p span {
    font-size: 20px;
}

section .c-to-f .group-3 .rumus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    gap: 1rem;
}

section .c-to-f .group-3 .rumus h2 { 
    text-align: center;
    background-color: #334155;
    padding: 20px;
    border: 2px dashed #94a3b8;
    border-radius: 10px;
}

section .c-to-f .group-3 .rumus h2 span {
    font-size: 30px;
}

section .c-to-f .group-3 .rumus p {
    font-style: italic;
    font-weight: bold;
}

/* F to C */
section .f-to-c {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section .f-to-c .group-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

section .f-to-c .group-2 p {
    font-size: 12px;
}

section .f-to-c .group-2 h1 {
    text-align: center;
}

section .f-to-c .group-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: .5rem;
} 

section .f-to-c .group-3 .desc {
    text-align: center;
    width: 80%;
}

section .f-to-c .group-3 .desc p span {
    font-size: 20px;
}

section .f-to-c .group-3 .rumus {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    gap: 1rem;
}

section .f-to-c .group-3 .rumus h2 { 
    text-align: center;
    background-color: #334155;
    padding: 20px;
    border: 2px dashed #94a3b8;
    border-radius: 10px;
}

section .f-to-c .group-3 .rumus h2 span {
    font-size: 30px;
}

section .f-to-c .group-3 .rumus p {
    font-style: italic;
    font-weight: bold;
}